div.card {
  flex-direction: row;
  width: 96vw;
  margin-bottom: 5px;
}

div.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

/* img.card-img {
  padding-top: 20px;
} */

div.card-body {
  text-align: left;
}

div.resize.card-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* width: 75px; */
}

div.loadout {
  padding-top: 2px;
  padding-bottom: 2px;
}

div.loadout-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#item-info.card-body {
  width: 30vw;
}

div#loadouts.card-body {
  width: 60vw;
}