div.card {
  flex-direction: row;
}

div.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card-body {
  text-align: left;
}

div.resize.card-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* width: 75px; */
}